<html>
    <head>
        <title>Podcast Transcriber</title>
    </head>
    <body>
        <center>
            <h1>Podcast Transcriber</h1>
            <br/><br/><br/><br/>
            <form>
                Search: <input type="text" name="query" size="64" />
                <input type="submit" />
            </form>
            <br/><br/>
            <div>
                {% for podcast in podcasts %}
                    <div>
                        <div>
                            <img src="{{ podcast.image }}" width="100" height="100"/>
                        </div>
                        <div>
                            Name: {{ podcast.name }}
                        </div>
                        <div>
                            Title: {{ podcast.title }}
                        </div>
                        <div>
                            Remote ID: {{ podcast.remote_id }}
                        </div>
                        <div>
                            URL: <a href="{{ podcast.url }}">{{ podcast.url }}</a>
                        </div>
                    </div>
                    <br/><br/><br/>
                {% else %}
                    <h2>No podcasts found.</h2>
                {% endfor %}
            </div>
        </center>
    </body>
</html>
