<html>
    <head>
        <title>Podcast Transcriber</title>
    </head>
    <body>
        <center>
            <h1>Podcast Transcriber</h1>
            <br/><br/><br/><br/>
            <form>
                Search: <input type="text" name="query" size="64" />
                <input type="submit" />
            </form>
            <br/><br/>
            <div>
                {% for podcast in podcasts %}
                    <div>{{ podcast.name }}</div>
                {% else %}
                    <h2>No podcasts found.</h2>
                {% endfor %}
            </div>
        </center>
    </body>
</html>
